.form-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-left: 20px;

    .input{
        padding-left: 5px;
    }

    .button {
        padding-left: 10px;
        
    }
}
